<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#FFFFFF;">
    <ion-header-bar class="bar-stable">
      <div class="title">Fortnite Media</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="fortniteMedia-list1">
        <ion-item id="fortniteMedia-list-item3" ui-sref="fortniteMedia.highlights()" menu-close="">Highlight Posts</ion-item>
        <ion-item id="fortniteMedia-list-item9" ui-sref="fortniteMedia.myHighlights()" menu-close="">My Highlights</ion-item>
        <ion-item id="fortniteMedia-list-item14" ui-sref="fortniteMedia.updates()" menu-close="">Updates</ion-item>
        <ion-item id="fortniteMedia-list-item12" ui-sref="fortniteMedia.youTubeChannels()" menu-close="">YouTube Channels</ion-item>
        <ion-item id="fortniteMedia-list-item13" ui-sref="fortniteMedia.twitchStreamers()" menu-close="">Twitch Streamers</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>