<ion-view title="Highlights" id="page3" style="background-color:#001BFF;">
  <ion-content padding="true" style="background: url(img/iR5ja7jdTvq6WCPMLfGB_7ep93zagxaq01.png) no-repeat center;background-size:cover;" class="has-header">
    <form id="highlights-form4" class="list">
      <label class="item item-input" id="highlights-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="highlights-list4">
      <ion-item class="item-avatar dark" id="highlights-list-item4">
        <img src="img/l026MwZASRaN95BURdxg_ScreenShot2018-05-17at11.11.19AM.png">
        <h2dark>RensoHyper
          <p>I am the fastest 7th grade builder</p>
          <ion-option-button class="button-positive"></ion-option-button>
        </h2dark>
      </ion-item>
    </ion-list>
    <h1 id="highlights-heading1" style="color:#FFFFFF;font-weight:600;text-align:center;">Feed</h1>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/ZoKgm-iy0ts?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="highlights-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <form id="highlights-form5" class="list">
      <ion-toggle toggle-class="toggle-positive" id="highlights-toggle4">Share</ion-toggle>
    </form>
    <div>
      <img src="img/aH9zmVvDTxgIleRKyVy2_imgres.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="highlights-form6" class="list">
      <ion-toggle toggle-class="toggle-positive" id="highlights-toggle5">Share</ion-toggle>
    </form>
    <div>
      <img src="img/rHTacAG8TqeErzJJ94nb_imgres.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="highlights-form7" class="list">
      <ion-toggle toggle-class="toggle-positive" id="highlights-toggle6">Share</ion-toggle>
    </form>
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/ZoKgm-iy0ts?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="highlights-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <form id="highlights-form8" class="list">
      <ion-toggle toggle-class="toggle-positive" id="highlights-toggle7">Share</ion-toggle>
    </form>
  </ion-content>
</ion-view>