<ion-view title="My Highlights" id="page4">
  <ion-content padding="true" style="background: url(img/5YDWibgFR3i5AIcljGJs_avtz9olvvvd01.png) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="myHighlights-list5">
      <ion-item class="item-avatar" id="myHighlights-list-item10">
        <img src="img/Htdu53ixSoKy1ZBHif8X_ScreenShot2018-05-17at11.11.19AM.png">
        <h2>RensoHyper</h2>
        <p>Fastest 7th grade builder</p>
      </ion-item>
    </ion-list>
    <h1 id="myHighlights-heading2" style="color:#FFFFFF;text-align:center;">My Highlights</h1>
    <div ng-init="videourl_video3=&quot;https://www.youtube.com/embed/ZoKgm-iy0ts?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="myHighlights-video3">
      <iframe src="{{videourl_video3}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <form id="myHighlights-form9" class="list">
      <ion-toggle toggle-class="toggle-positive" id="myHighlights-toggle8">Share</ion-toggle>
      <div ng-init="videourl_video4=&quot;https://www.youtube.com/embed/ZoKgm-iy0ts?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="myHighlights-video4">
        <iframe src="{{videourl_video4}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
      </div>
      <ion-toggle toggle-class="toggle-positive" id="myHighlights-toggle9">Share</ion-toggle>
      <div ng-init="videourl_video5=&quot;https://www.youtube.com/embed/ZoKgm-iy0ts?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="myHighlights-video5">
        <iframe src="{{videourl_video5}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
      </div>
      <ion-toggle toggle-class="toggle-positive" id="myHighlights-toggle10">Share</ion-toggle>
    </form>
  </ion-content>
</ion-view>