<ion-view title="Twitch Streamers" id="page7">
  <ion-content padding="true" style="background: url(img/WIQxzdGeTqq8u5oExPCn_6b6it84dmqn01.png) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="twitchStreamers-list9">
      <ion-item class="item-avatar" id="twitchStreamers-list-item22">
        <img src="img/EUdSIH5eRGEzldpYewOG_ScreenShot2018-05-17at11.11.19AM.png">
        <h2>RensoHyper</h2>
        <p>Fastest 7th grade builder</p>
      </ion-item>
    </ion-list>
    <h1 id="twitchStreamers-heading5" style="color:#FFFFFF;text-align:center;">Twitch</h1>
    <ion-list id="twitchStreamers-list10">
      <ion-item class="item-avatar" id="twitchStreamers-list-item23">
        <img src="img/GLmlnSJHSJOUWSwbCQkY_imgres-1.jpg">
        <h2>CDNThe3rd</h2>
      </ion-item>
      <ion-item class="item-avatar" id="twitchStreamers-list-item24">
        <img src="img/BOeTVhZpSWinaTUCwOYL_imgres-2.jpg">
        <h2>Dakotaz</h2>
      </ion-item>
      <ion-item class="item-avatar" id="twitchStreamers-list-item25">
        <img src="img/0KDsRbnKRIq9HWeu3Weq_imgres.jpg">
        <h2>Ninja</h2>
      </ion-item>
      <ion-item class="item-avatar" id="twitchStreamers-list-item26">
        <img src="img/NsHkdi23SVi29H6O1Nc2_d0090d129578ada5ff5806467648a6ad78c8da51v2_00.jpg">
        <h2>Myth</h2>
      </ion-item>
      <ion-item class="item-avatar" id="twitchStreamers-list-item27">
        <img src="img/rBXQ5oaSbSeEnUc22d0O_imgres.jpg">
        <h2>Daequan</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>