<ion-view title="YouTube Channels" id="page6">
  <ion-content padding="true" style="background: url(img/vUjEsKpYRxevrIUxLXnZ_f0d6727f1cb9220e9883a67a6558fead.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="youTubeChannels-list7">
      <ion-item class="item-avatar" id="youTubeChannels-list-item16">
        <img src="img/jrZDCmkoS4yd9LUDZxuR_ScreenShot2018-05-17at11.11.19AM.png">
        <h2>RensoHyper</h2>
        <p>Fastest 7th grade builder</p>
      </ion-item>
    </ion-list>
    <h1 id="youTubeChannels-heading4" style="color:#FFFFFF;text-align:center;">Channels</h1>
    <ion-list id="youTubeChannels-list8">
      <ion-item class="item-avatar" id="youTubeChannels-list-item20">
        <img src="img/bVmZy7UORIWsN4C7JXR9_ScreenShot2018-05-17at11.11.19AM.png">
        <h2>UAO_Triniityy</h2>
      </ion-item>
      <ion-item class="item-avatar" id="youTubeChannels-list-item21">
        <img src="img/vYoQI3wDRGKcq31NHIy9_Newicon.jpg">
        <h2>UAO_Kekai</h2>
      </ion-item>
      <ion-item class="item-avatar" id="youTubeChannels-list-item18">
        <img src="img/JuscuudlRISVlVV6EB98_imgres.jpg">
        <h2>Ninja</h2>
      </ion-item>
      <ion-item class="item-avatar" id="youTubeChannels-list-item17">
        <img src="img/EvCqCeXeQZaoFGqwLkuF_d0090d129578ada5ff5806467648a6ad78c8da51v2_00.jpg">
        <h2>Myth</h2>
      </ion-item>
      <ion-item class="item-avatar" id="youTubeChannels-list-item19">
        <img src="img/rUUpymzbQDKTPjXEfCEL_imgres.jpg">
        <h2>Daequan</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>